@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
	color: #111111;
	background-color: #ffffff;
}

input {
	border: 2px solid #3f4e65;
}

.container {
	text-align: center;
	padding: 0 5rem;
	max-width: 147rem;
	margin: 0 auto;
}
